/* Define CSS Varibales */
/* Navbar Section */
.btn-hover:hover {
  color: #f1c111 !important;
}

.contact-btn {
  color: #ffffff;
}

.contact-btn:hover {
  color: #ffffff !important;
  background-color: #f1c111 !important;
}

/* Main Section */
.main-section {
  background: linear-gradient(170deg, #057a8d 64%, #ffffff 30%);
}

.main-btn {
  color: #0c8195;
}

.main-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.project-section {
  background-color: #ebe8e8;
}

/* Media Query Section */
@media screen and (max-width: 1000px) {
  .contact-btn {
    width: 25% !important;
  }
  .about-img {
    width: 75% !important;
  }
}
